body {
  margin: 1rem;
  background-color: white;
}

/* Text styles */

h1,
h2,
p,
a,
li,
button {
  font-family: warbler-deck, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: black;
  text-decoration: none;
}

/* Header */

header {
  position: sticky;
  top: 0rem;
  background-color: white;
  margin-bottom: 3vh;
}

footer {
  margin-top: 3vh;
  position: sticky;
}

.site-nav {
  display: flex;
  align-items: start;
}

.logo {
  height: 3rem;
}

.site-nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-grow: 1;
}

.site-nav li {
  margin-left: 8vw;
}

.site-nav a {
  font-size: 1rem;
  font-weight: 600;
}

.site-nav li:last-child {
  margin-left: auto;
  margin-right: 3vw;
}

@media screen and (max-width: 1000px) {
  .site-nav li {
    margin-left: 5vw;
  }

  .site-nav li:last-child {
    margin-right: 5vw;
  }
}

@media screen and (max-width: 700px) {
  .site-nav {
    flex-direction: column;
    align-items: center;
  }

  .site-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
  }

  .site-nav li {
    margin-left: 0;
  }

  .site-nav li:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.shopping-cart {
  height: 2rem;
}

/* Products grid (products.html) (ripped from example but tweaked) */

.poster-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1vw;
  column-gap: 2rem;
}

@media screen and (max-width: 700px) {
  .poster-grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .poster-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .poster-grid {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
  }
}

.poster {
  width: 100%;
  display: block;
}

.poster-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.poster-container a {
  grid-area: 1 / 1;
}

/* Footer */

footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

/* Product page */
.add-to-cart-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  text-align: end;
}

.add-to-cart-btn:hover {
  background-color: darkgray;
}

.product-back {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1vw;
}

@media screen and (max-width: 900px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.poster-jpg {
  width: 50%;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1rem;
}

.product-container a {
  grid-area: 1 / 1;
}

.poster-gif + p {
  margin-top: 0.5rem;
}

.clear-cart {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.product-grid p {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  text-align: left;
}
