/* Header */

.logo {
  display: block;
  margin: auto;
  width: 150px;
}

.poster-01 {
  display: block;
  margin: auto;
  width: 500px;
}

.coming-soon {
  display: block;
  margin: auto;
  width: 500px;
  margin-bottom: 10px;
}

.poster-gif {
  display: block;
  margin: auto;
  width: 500px;
}

/* Body */
body {
  margin: 1rem;
  font-family: Arial, sans-serif;
}

/* Text Elements */
h1 {
  color: plum;
  text-align: center;
}
h2 {
  color: plum;
  text-shadow: 0px 2px 2px #000000;
  text-align: center;
}
p {
  color: plum;
  text-align: center;
}
