/* Header */

.logo {
  display: block;
  margin: auto;
  width: 150px;
}

/* Add a container for the posters */

}

.posters-container a {
  display: inline-block; /* Ensure the link wraps tightly around the image */
  width: 100%; /* Make the link fill the allocated space */
  height: auto; /* Maintain aspect ratio */
}

.poster-01, .coming-soon {
  flex: 1 1 calc(33.33% - 10px); /* Each image takes up 1/3 of the row minus the gap */
  max-width: calc(33.33% - 10px); /* Ensure the images don't exceed 1/3 of the row */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container without distortion */
  width: 100%; /* Ensure the image fills the allocated space */
}

.poster-gif {
  display: block;
  margin: auto;
  width: 500px;
}

/* Body */
body {
  margin: 1rem;
  font-family: Arial, sans-serif;
}

/* Text Elements */
h1 {
  color: plum;
  text-align: center;
}
h2 {
  color: plum;
  text-shadow: 0px 2px 2px #000000;
  text-align: center;
}
p {
  color: plum;
  text-align: center;
}
